/* Style for shop container in Shop component */
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 80px 50px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 15px;
}
.cart-container h2{
    margin-bottom: 20px;
    color: orange;
}
@media screen and (max-width: 1100px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}