/* Style for shop container in Shop component */
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 80px 50px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 15px;
    border-radius: 10px;
}
.cart-container h2{
    margin-bottom: 20px;
    color: orange;
    text-align: center;
}
.select-for-me{
    text-align: center;
    border: none;
    border: 1px solid greenyellow;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.select-for-me:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.select-again{
    text-align: center;
    border: none;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.select-again:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 1100px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}